@model IEnumerable<Recipes.Domain.Recipe>

@{
	ViewBag.Title = "Index";
}


<style>
	img {
		display: block;
		margin: 0 auto;
	}


    .nowrap-container {
        white-space: nowrap;
        width: 100px;
    }
    .nowrap-item {
        display: inline-block;
        white-space: normal;
}</style>


<div class="row-fluid" ng-controller='indexController' ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">


	<div class="main col-md-offset-2 col-md-6">
		
        
        <form class="form-horizontal" id="filter" ng-submit="insert()" role="form">
			<div class="form-group ">
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon">Add</span>
						<input class="form-control" type="text" placeholder="http://..." ng-model=newRecipe>
					</div>
				</div>
			</div>
		</form>

		<div>

			<table id="recipes" class="table table-responsive">
				<tr>
					<th colspan="2">
                        <label class="input-group" for="filter">Filter:
                            <input id="filter" type="text" name="fname" ng-model="filter" ng-change="filterChanged()">
                        </label>
					</th>
					<th width="100px">
                        Action
					</th>
				</tr>

				<tr ng-repeat="recipe in visibleRecipes">
					<td>
						<a ng-href="@Url.Action("View", "Recipe")?recipeId={{recipe.RecipeId}}">
							<img class="img-responsive" src="{{recipe.ImageUri}}" style="max-width:200px; max-height:200px" />
						</a>
					</td>
					<td>
						<a ng-href="@Url.Action("View", "Recipe")?recipeId={{recipe.RecipeId}}">
							<h4 class="h4">{{recipe.Name}}</h4>
						</a>
					</td>
					<td>
                        <a class="glyphicon glyphicon-globe" aria-hidden="true" href="{{recipe.Uri}}" target="_blank" />&nbsp;
                        <a class="glyphicon glyphicon-pencil" aria-hidden="true" ng-href="@Url.Action("Update", "Recipe")?recipeId={{recipe.RecipeId}}" />&nbsp;
                        <a class="glyphicon glyphicon-trash" aria-hidden="true" ng-href="@Url.Action("Delete", "Recipe")?recipeId={{recipe.RecipeId}}" />
                    </td>
				</tr>

			</table>

		</div>

	</div>

</div>

<script src="~/Scripts/Views/Recipe/Index.js"></script>
